.wrapper{
    max-width: 100%;
    width: 100%;
    min-height: auto;
}

.title-container{
    max-width: 80%;
    width: 100%;
    min-height: 60px;
    margin: auto;
}

.data-container{
    max-width: 50%;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid red;
    margin: auto;
}

.text-data-container{
    max-width: 40%;
    width: 100%;
    min-height: 100px;
    border: 1px solid red;
}

.img-data-container{
    max-width: 50%;
    width: 100%;
    min-height: 100px;
    border: 1px solid red;
}